html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

p, h1, h2, h3, h4, h5, h6, ul, ol, li, dl, dt, dd, form, fieldset, legend, input, textarea, blockquote, th, td {
    margin: 0;
    padding: 0;
}